@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300;400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/*Botón de whatsapp*/
.btn-whatsapp {
  margin-left: 90%;
  margin-top: 480px;
  color: #fff;
  position: fixed;
  z-index: 999;
  width: 90%;
}

.btn-whatsapp img {
  height: 75px;
}

.btn-whatsapp:hover img {
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/*Menù de navegaciòn*/
nav {
  position: fixed;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
  padding: 20px 0;
  transition: all 0.4s ease;
  z-index: 997;
  margin: auto;
}

nav.sticky {
  padding: 13px 0;
  background: #4070f4;
}

nav .navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

nav .navbar .logo a {
  font-size: 24px;
  font-weight: 500;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
}

nav .navbar .menu li {
  margin: 0 8px;
  list-style: none;
}

.navbar .menu li a {
  font-size: 20px;
  font-size: 500;
  color: #0e2431;
  transition: all 0.3s ease;
}

.navbar .menu li a:hover {
  color: #4070f4;
}

nav.sticky .navbar .menu li a {
  color: #fff;
}

nav.sticky .navbar .menu li a:hover {
  color: #0e2431;
}

.navbar .media-iconos a {
  font-size: 18px;
  margin: 0 6px;
  color: #4070f4;
}

nav.sticky .navbar .media-iconos a {
  color: #fff;
}

nav.sticky .navbar .media-iconos a:hover {
  color: #0c0e0f;
}

/*Menú lateral-Botón*/
nav .menu-btn,
.navbar .cancelar-btn {
  position: absolute;
  color: #fff;
  font-size: 23px;
  right: 30px;
  display: none;
  top: 17px;
}

nav .menu-btn {
  color: #4070f4;
}

/*pantalla inicial*/




.contenido-header {
  width: 90%;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Signika Negative", sans-serif;
  margin: auto;
}

.contenido-header img {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
 
}

.textos-header {
  margin: 0 0 0 45px;

}

 .texto-uno {
  font-size: 27px;
}

.contenido-header .texto-dos {
  font-size: 55px;
  font-weight: 600;
  margin-left: -3px;
}

.contenido-header .texto-tres {
  font-size: 40px;
}

 .texto-cuatro {
  font-size: 25px;
  margin: 5px 0;
}

section .boton {
  margin: 14px 0;
}

section .boton button {
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 16px;
  background: #4070f4;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease;
}

section .boton button:hover {
  color: #4070f4;
  background-color: #fff;
  border-color: #4070f4;
}


/*SECCIÓN PROYECTOS*/

.proyectos{
  width: 100%;
  margin: auto;
  font-family: 'Signika Negative', sans-serif;
}

.contenedor-articulo{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;

}
.articulo{
  width: 45%;
  margin-bottom: 15px;
  padding: 20px 20px 30px 20px;
}



.articulo>h3{
  font-size: 20px;
  margin-top:30px;
  color: #4070f4;

}

section .titulo{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -40px;
}

section .titulo span{
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
section .titulo span::before,
section .titulo span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #4070f4;
}

section .titulo span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}

.articulo p{
  font-weight: 200;
  color: #1b1b1d;
  margin-top: 15px;
  padding-bottom: 20px;
}



.articulo a{
  outline: none;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding: 4px 8px;
  background: #4070f4;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.articulo a:hover{
  color: #4070f4;
  background-color: #fff;
  border-color: #4070f4;
}


.articulo img{
max-width: 100%;
display:block;
margin-left: auto;
margin-right: auto;
}


/*SECCIÓN SOBRE MI/SKILLS*/

.sobreMi{
  margin: auto;
  font-family: 'Signika Negative', sans-serif;
}

.contenedor-sobreMi{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}


.about{
  width: 45%;
  margin-bottom: 15px;
  padding: 20px 20px 30px 20px;
}



.box-skills{
  margin: 30px 30px 0 0;
}

.box-skills h2{
 font-weight: 500;
 background: #4070f4;
 padding-left: 35px;
 padding-top: 5px;
 padding-bottom: 5px;
 color: aliceblue;
 margin-bottom: 20px;

}

.box-skills h4{
  font-size: 18px;
  width: 4000px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  font-weight: 300;

}

.box-skills i{
  color: #4070f4;
  font-size: 20px;
  padding-right: 10px;
}


.sobreMi h4{
  font-size: 18px;
  width: 350px;
  border-radius:6px;
  margin-bottom: 5px;
}



.about h2{
  font-size: 18px;
  margin-top:30px;
  font-weight:lighter;
  

}

.box-skills h2{
  font-size: 22px;
  margin-top:30px;
  font-weight: 600;

}

section .titulo{
  display: flex;
  justify-content: center;
  
}

section .titulo span{
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
section .titulo span::before,
section .titulo span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #4070f4;
}

section .titulo span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}



.about img{
max-width: 100%;
display:block;
margin-left: auto;
margin-right: auto;
height: 180px;
}



/*MEDIA QUERYS*/

@media (max-width: 1150px) {
  .contenido-header img {
    width: 340px;
  }

  .btn-whatsapp {
    margin-left: 85%;
  }
}

@media (max-width: 1000px) {
  .contenido-header img {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .btn-whatsapp img {
    height: 70px;
  }
   .contenido-header .texto-uno {
    font-size: 24px;
  }

   .contenido-header .texto-dos {
    font-size: 50px;
  }

 .contenido-header .texto-tres {
    font-size: 35px;
  }

   .contenido-header .texto-cuatro {
    font-size: 20px;
  }

  section .boton button {
    font-size: 22px;
  }
}

@media (max-width: 870px) {

  .contenido-header img {
    width: 270px;
  }

  .textos-header {
    margin: 0 0 0 30px;
  }

  .contenido-header .texto-uno {
    font-size: 22px;
  }

.contenido-header .texto-dos {
    font-size: 48px;
  }
 .contenido-header .texto-tres {
    font-size: 33px;
  }

   .contenido-header .texto-cuatro {
    font-size: 18px;
  }

  section .boton button {
    font-size: 20px;
  }
}

@media (max-width: 810px) {
  .contenido-header img {
    width: 250px;
  }

  .contenido-header .texto-uno {
    font-size: 20px;
  }

 .contenido-header .texto-dos {
    font-size: 43px;
  }

 .contenido-header .texto-tres {
    font-size: 30px;
  }

 .contenido-header .texto-cuatro {
    font-size: 16px;
  }
}

@media (max-width: 500px) {

  .contenido-header img {
    width: 250px;
  }



  .contenido-header .texto-uno {
    font-size: 18px;
  }

.contenido-header .texto-dos {
    font-size: 35px;
  }
 .contenido-header .texto-tres {
    font-size: 28px;
  }

   .contenido-header .texto-cuatro {
    font-size: 18px;
  }

  section .boton button {
    font-size: 19px;
  }
}


@media (max-width: 750px) {

  .btn-whatsapp {
    margin-left: 84%;
  }

  .btn-whatsapp img {
    height: 65px;
  }

  nav .navbar .menu {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100vh;
    max-width: 200px;
    width: 100%;
    background-color: #0e2431;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: all 0.5s ease;
  }

  nav .navbar.active .menu {
    left: 0;
  }

  nav.sticky .navbar .menu li a:hover {
    color: #4070f4;
  }

  .navbar .menu li a {
    display: block;
    margin: 10px 0;
    font-size: 23px;
    color: #fff;
  }

  .navbar .media-iconos a {
    display: none;
  }

  nav .menu-btn,
  .navbar .cancelar-btn {
    display: block;
  }

  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 750px;
    margin-bottom: 0;
  }

  .contenido-header img {
    width: 210px;
    margin-top: -80px;
    margin-bottom: 0;
  }

  .textos-header {
    margin-bottom: 0px;
  }

  section .boton {
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .proyectos{
    margin-top: -115px;
  }
}



/*Media Query de Proyectos*/
@media (max-width: 800px){
  .articulo>h3{
      font-size: 18px;
      margin-top:25px;
  }

  .articulo p{
      margin-top: 13px;
      padding-bottom: 18px;
  }

  .articulo a{
      font-size: 16px;
  }
}

@media (max-width: 625px){

  .articulo{
      width: 80%;
      margin-bottom: 10px;
      padding: 25px 15px 35px 15px;
  }

  .articulo img{
     
      max-width: 100%;
  }
 
  .articulo>h3{
      font-size: 20px;
      margin-top:25px;
  }

  .articulo p{
      margin-top: 13px;
      padding-bottom: 18px;
  }

  .articulo a{
      font-size: 17px;
  }
}

@media (max-width: 500px){

  .articulo>h3{
      font-size: 17px;
      margin-top:25px;
  }

  .articulo p{
      margin-top: 11px;
      padding-bottom: 15px;
  }

  .articulo a{
      font-size: 16px;
  }
}

/*Media Query Sobre Mi*/
@media (max-width: 1210px){
  
  .about h2{
    font-size: 17px;
    margin-top: 20px;
  }
  
  .box-skills h2{
    font-size: 21px;
  }

  .about img{
    margin-top:20px;
    }

    .box-skills h4{
      font-size: 16px;
      width: 400px;
      padding: 10px 10px 10px 10px;
      margin-bottom: 10px;
      font-weight: 400;
    
    }
}

@media (max-width: 1150px){

  .box-skills h4{
    width: 300px;
   
  
  }
  
  .about img{
  height: 160px;
  }

}

@media (max-width: 980px){
  
  .about h2{
    font-size: 16px;
  }

}

@media (max-width: 800px){
  
  .about {
   width: 80%;
  }


  .about h2{
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 25px;
  }

  .box-skills{
    margin-top: -38px;
  }

}

 
/*Sección Footer*/

footer {
  width: 90%;
  display: flex;
  margin: auto;
  display: none;
}

.creditos{
  width: 100%;
  text-align: center;
  color: #4070f4;
  margin-bottom: 10px;
  font-weight: 600;
}


@media (max-width: 750px){

  footer{
    display: block;
    justify-content: space-around;
    text-align: center;
  }

 footer a i{
  padding-bottom: 20px;
  padding-top: 25px;
  width: 20%;
  margin: auto;
  font-size: 26px;
  color: #4070f4;
 
}

footer a:hover i{
  color: #0e2431;
  transition: all 0.4s ease;
}

.creditos{
  display: none;
}

}


